.wrapper{
    display: flex;
    align-items: center;
}

.name{
    display: flex;
    min-width: 70px;
    margin-right: 10px;
    justify-content: flex-end;
}

.controller{
    width: 100%;
}

.formWrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.formComponent{
    width: 45%;
}